doctype
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='js/vendor/materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='css/app.css')
  body
    script(data-main='js/main', src='js/vendor/requirejs/require.js')